/*
värit
#1C3257 sininen
#F5F5F5 valkoinen
#282633 musta
*/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    min-width: 300px;
    background-color: #F5F5F5;
    overflow-x: hidden;
}


header {
    position: relative;
}

section {
    position: relative;
    top: 0vh;
}

.navBar {
    padding: 15px;
    height: 30px;
    max-width: 100vw;
    background-color: #1C3257;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: space-around;
}

.navBar .logo {
    margin-right: auto;
    font-size: large;
    font-family: Lato;
}

.navBar>links {
    width: fit-content;
}

.hero {
    opacity: 0.65;
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 700px;
    z-index: 0;
}

.textBox {
    position: absolute;
    margin: auto;
    color: #1C3257;
    font-family: 'Lato';
    font-weight: bolder;
    max-height: 300px;
    max-width: 600px;
    height: 300px;
    text-align: center;
    top: 0;
    left: 25vw;
    right: 25vw;
    z-index: 2;
}

.cta-button {
    background-color: #1C3257;
    border-radius: 20px;
    padding: 16px;
    cursor: pointer;
}

.footer {
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: #1C3257;
    color: #F5F5F5;
    padding: 5px;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 40px;
}

.heading2 {
    padding: 10px;
    text-align: center;
    font-family: 'Lato';
    color: #1C3257;
    font-size: 30px;
    z-index: 10;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 24.4%;
    max-width: 24.4%;
    padding: 0 4px;
    min-width: 20%;
}

.image-hover-zoom {
    height: auto;
    overflow: hidden;
    border: 5px solid #F5F5F5;
}

.image-hover-zoom img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    transition: transform 1s ease;
}

.image-hover-zoom img:hover {
    transform: scale(1.5);
}
.navBar .links {
    visibility: visible;
}
@media screen and (max-width: 767px) {


    .navBar .links {
        visibility: visible;
    }

    .textBox .title {
        font-size: 32px;
    }

    .textBox h2 {
        font-size: 24px;
        height: fit-content;
    }


    .textBox {
        left: 15vw;
        right: 15vw;
        width: fit-content;
    }

    .textBox p {
        font-size: 16px;
        min-height: fit-content;
    }

    .heading2 {
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Lato';
        color: #1C3257;
        font-size: 20px;
        z-index: 3;
    }

    .cta-button {
        font-size: 16px;
        padding: 8px;
    }

    .column {
        flex: 45%;
        max-width: 45%;
    }
}

.navBar a.icon {
    visibility: collapse;
}

@media screen and (max-width: 479px) {

    .navBar a.icon {
        visibility: visible;
        margin: 16px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .navBar .links {
        visibility: collapse;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;

        background-color: #1C3257;
        right: 0;
        left: 0;
        top: 5vh;
        z-index: 900;
    }

    .navBar .links a {
        width: fit-content;
        font-size: 14px;
    }

    .textBox {
        width: fit-content;
        height: fit-content;
    }

    .textBox .title {
        z-index: -1;
        font-size: 24px;
    }

    .textBox h2 {
        font-size: 16px;
    }

    .textBox p {
        font-size: 10px;
    }

    .cta-button {
        font-size: 8px;
        padding: 8px;
        border-radius: 10px;
    }

    .heading2 {
        font-size: 16px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .footer p {
        font-size: 12px;
    }

    .footer a {
        font-size: 12px;
    }
}

p {
    font-size: 20px;
}

a {
    color: #F5F5F5;
    font-family: 'Lato';
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

.navBar a:hover {
    background-color: #F5F5F5;
    opacity: 100%;
    border-radius: 20px;
    color: #1C3257;
    font-weight: bold;
}


/*
Modal image css
*/

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-height: 80%;
    max-width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .modal-content {
        width: 100%;
    }
}

.employees {
    background-color: #1C3257;
    position: relative;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
    border: #1C3257;
    border-radius: 24px;
}

.employee_info {
    padding: 24px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

.employee_photo {
    width: 350px;
    height: max-content;
    border-radius: 24px;
}

.info_box p {
    margin: 16px;
    color: #F5F5F5;
    font-family: 'Lato';
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .employees {
        align-self: center;
        justify-content: center;
    }

    .employee_info {
        width: fit-content;
        flex-direction: column;
    }

    .info_box p {
        font-size: 16px;
    }
}

@media screen and (max-width: 467px) {
    .employee_photo {
        width: 100%;
        height: max-content;
        border-radius: 24px;
    }

    .employee_info {
        align-items: center;
        width: fit-content;
        flex-direction: column;
    }

    .info_box p {
        font-size: 12px;
    }
}