/*
värit
#1C3257 sininen
#F5F5F5 valkoinen
#282633 musta
*/

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    min-width: 200px;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

.navigationBar {
    padding: 15px;
    height: 30px;
    max-width: 100vw;
    background-color: #1C3257;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: space-around;
}

.navigationBar .logo {
    margin-right: auto;
    font-size: large;
    font-family: Lato;
}

.navigationBar>links {
    width: fit-content;
}

.hero {
    opacity: 0.65;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 700px;
    z-index: 0;
}

.textBox {
    position: absolute;
    margin: auto;
    color: #282633;
    font-family: 'Lato';
    font-weight: bold;
    max-height: 300px;
    max-width: 500px;
    height: 300px;
    text-align: center;
    top: 15vh;
    left: 30vw;
    right: 30vw;
    z-index: 2;
}


.footer {
    width: 100%;
    height: 5vh;
    background-color: #1C3257;
    color: #F5F5F5;
    padding: 5px;
    left: 0;
    bottom: 0;
    text-align: center;
}

.title {
    font-size: 40px;
}

.heading2 {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Lato';
    color: #1C3257;
    font-size: 30px;
    z-index: 10;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 24.4%;
    max-width: 24.4%;
    padding: 0 4px;
    min-width: 20%;
}

.image-hover-zoom {
    height: auto;
    overflow: hidden;
    border: 5px solid #F5F5F5;
}

.image-hover-zoom img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    transition: transform 1s ease;
}

.image-hover-zoom img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 767px) {

    .textBox .title {
        font-size: 32px;
    }

    .textBox h2 {
        font-size: 24px;
        height: fit-content;
    }


    .textBox {
        top: 5vh;
        width: fit-content;
    }

    .textBox p {
        font-size: 14px;
        min-height: fit-content;
    }


    .heading2 {
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Lato';
        color: #1C3257;
        font-size: 20px;
        z-index: 3;
    }

    .column {
        flex: 45%;
        max-width: 45%;
    }
}

.navigationBar a.icon {
    visibility: collapse;
}

@media screen and (max-width: 479px) {

    .navigationBar a.icon {
        visibility: visible;
        margin: 16px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .navigationBar .links {
        display: none;
        position: absolute;
        padding: 8px;
        right: 0;
        width: 20vw;
        height: fit-content;
        top: 6vh;
        background-color: #1C3257;
        z-index: 9;
    }

    .navigationBar .links a {
        padding-top: 4px;
        font-size: 14px;
    }
 
    .textBox {
        top: 6vh;
        width: fit-content;
        height: fit-content;
    }

    .textBox .title {
        font-size: 24px;
    }

    .textBox h2 {
        font-size: 16px;
    }

    .textBox p {
        font-size: 10px;
        min-height: fit-content;
        min-width: fit-content;
    }

    .heading2 {
        margin: auto;
        padding: 10px;
        text-align: center;
        font-family: 'Lato';
        color: #1C3257;
        font-size: 12px;
        z-index: 3;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .footer p {
        font-size: 12px;
    }
}

p {
    font-size: 20px;
}

a {
    color: #F5F5F5;
    font-family: 'Lato';
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

a:hover {
    background-color: #F5F5F5;
    opacity: 100%;
    border-radius: 20px;
    color: #1C3257;
    font-weight: bold;
}


/*
Modal image css
*/

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-height: 80%;
    max-width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}